name: Go unit tests
on:
  push: {}
  pull_request:
    types: [ opened, synchronize, reopened ]
permissions:
  contents: read
jobs:
  test:
    uses: netcracker/qubership-core-infra/.github/workflows/go-build-with-sonar.yaml@8638b5b8d369a450d36a3e03d9f2d8e31202dc00 #v1.3.0
    with:
      actor: ${{ github.actor }}
      sonar-project-key: ${{ vars.SONAR_PROJECT_KEY }}
      go-module-dir: '.'
    secrets:
      sonar-token: ${{ secrets.SONAR_TOKEN }}
